<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/index.css" rel="stylesheet">
	<title>Dashboard</title>
</head>
<body>
	<div id = "menu">
		<div>
			HOME
		</div>
		
		<div>
			I NOSTRI BUFFET
		</div>
		
		<div>
			<a th:href="@{/aggiungiChef}">Aggiungi uno Chef</a>
		</div>
		
		<div>
			<a th:href="@{/elencoChef}">Elenco Chef</a>
		</div>
		
		<div>
			<a th:href="@{/elencoBuffet}">Elenco Buffet</a>
		</div>
	</div>
	
	<div>
		<h1>Catering Roma</h1>
	</div>
	
</body>
</html>