<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<title>Ingrediente modifica</title>
</head>
<body>
	<div align="center" class="formtitle">
		<h1>Modifica un Ingrediente di un Piatto</h1>
	</div>

	<div class="formcontainer">
		<div class="itemform">
			<form th:action="@{/admin} + @{/piatto} + '/' + ${piatto.id} + @{/modificaIngrediente} + '/' + ${ingrediente.id}" method="post" th:object="${ingrediente}">
				<div>
					<input type="text" placeholder="Nome" th:field="*{nome}" />
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</div>
					
				<div>
					<input type="text" placeholder="Origine" th:field="*{origine}" />
					<span th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></span>
				</div>

				<div>
					<input type="text" placeholder="Descrizione" th:field="*{descrizione}" />
				</div>
				
				<div>
					<button class="buttonForm" type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>