<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Chef modifica</title>
	<link href="/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
	<div align="center" class="formtitle">
		<h1>Modifica uno Chef</h1>
	</div>

	<div class="formcontainer">
		<div class="itemLogin">
			<form th:action="@{/admin} + @{/modificaChef} + '/' + ${chef.id}" method="post" th:object="${chef}">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasGlobalErrors()}">
                	<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
				</div>
					
				<div>
					<input type="text" placeholder="Nome" th:field="*{nome}" />
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</div>

				<div>
					<input type="text" placeholder="Cognome" th:field="*{cognome}" />
					<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
				</div>

				<div>
					<input type="text" placeholder="Nazionalità" th:field="*{nazionalita}" />
					<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
				</div>

				<div>
					<button class="buttonForm" type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>