<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Modifica Chef')"></head>
<body>
	<div align="center" class="formtitle">
		<h1>Modifica uno Chef</h1>
	</div>

	<div class="form-container">
		<div class="itemform">
			<form th:action="@{/admin} + @{/modificaChef} + '/' + ${chef.id}" method="post" th:object="${chef}">
				<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
                	<div align="center" th:each="err : ${#fields.globalErrors()}" th:text="'Errore: ' + ${err}">...</div>
                </div>
					
				<div>
					<input type="text" placeholder="Nome" th:field="*{nome}" />
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger" role="alert"></div>
				</div>

				<div>
					<input type="text" placeholder="Cognome" th:field="*{cognome}" />
					<div class="alert alert-danger error" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
				</div>

				<div>
					<input type="text" placeholder="Nazionalit&agrave" th:field="*{nazionalita}" />
					<div class="alert alert-danger error" th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></div>
				</div>

				<div>
					<button class="buttonForm" type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>