<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<title>Buffet modifica</title>
</head>
<body>
	<div align="center" class="formtitle">
		<h1>Modifica un Buffet di uno Chef</h1>
	</div>

	<div class="formcontainer">
		<div class="itemform">
			<form th:action="@{/admin} + @{/modificaBuffet} + '/' + ${buffet.id}" method="post" th:object="${buffet}">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasGlobalErrors()}">
                	<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
                </div>
				
				<div>
					<input type="text" placeholder="Nome" th:field="*{nome}" />
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</div>

				<div>
					<input type="text" placeholder="Descrizione" th:field="*{descrizione}" />
					<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
				</div>

				<div>
					<button class="buttonForm" type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>