<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='New Buffet')"></head>
<body>
	<div align="center" class="formtitle">
		<h1>Aggiungi un Buffet</h1>
	</div>

	<div class="form-container">
		<div class="itemform">
			<form th:action="@{/admin} + @{/chef} + '/' + ${chef.id} + @{/aggiungiBuffet}" method="post" th:object="${buffet}">
				<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
                	<div align="center" th:each="err : ${#fields.globalErrors()}" th:text="'Errore: ' + ${err}">...</div>
                </div>
                
				<div>
					<input type="text" placeholder="Nome" th:field="*{nome}" />
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger" role="alert"></div>
				</div>

				<div>
					<input type="text" placeholder="Descrizione" th:field="*{descrizione}" />
					<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" class="alert alert-danger" role="alert" ></div>
				</div>
				
				<div>
					<button class="buttonForm" type="submit">Conferma</button>
				</div>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>