<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='User Login')"></head>
<body>
	
	<div align="center" class="formtitle"><h1>Accedi</h1>
	<h3 align="center">Non hai un account? <a th:href="@{/register}">Registrati</a></h3>
	</div>
	
	<div class="form-container">
		<div class="row">
			<div class="col col-md-5">
			<!-- inizio del form -->
			<form th:action="@{/login}" method="post">
				<div class="form-group">
					<div class="col">
						<div th:if="${param.error} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">
                			<div class="alert alert-danger"> Errore nel Login, controlla di aver inserito correttamente le tue credenziali!</div>
                		</div>
                	</div>
            	</div>
                
            <div class="from-group">
				<div class="col">
                	<div>
						<input type="text" name="username" placeholder="Username">
					</div>
				</div>
			</div>
				
			<div class="from-group">
				<div class="col">
					<div>
						<input type="password" name="password" placeholder="Password">
					</div>
				</div>
			</div>
				
			<div class="from-group">
				<div class="col">
					<div>
						<button class="buttonForm" type="submit">LOGIN</button>
					</div>
				</div>
			</div>
		</form>
		</div>
	
		<div class="col col-sm-2">
			<div class="divider"></div>
		</div>

		<div class="col col-md-5 bottoniOauth">
			<div class="oauthButton">
				<a class="socialbutton" href="oauth2/authorization/google">
				<img class="logo" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=">Sign in with Google</a>
			</div>
			<a class="socialbutton fb" href="oauth2/authorization/facebook"><img class="fblogo logo" src="/images/facebook_logo_icon_147291.png">Sign in with Facebook</a>
        </div>
		</div>
	</div>
	
	<div th:replace="fragments/base.html :: script"></div>
</body>
</html>