<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Register')"></head>
<body>
	<div align="center" class="formtitle"><h1>Registrati</h1>
	</div>
	
	<div class="form-container">
		<div class="itemform">
			<form th:action="@{/register}" method="post">
				<div th:object="${utente}">
					<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
                        <div align="center" th:each="err : ${#fields.globalErrors()}" th:text="'Errore: ' + ${err}">...</div>
                    </div>
                    
					<div>
						<input type="text" placeholder="Nome" th:field="*{nome}"/>
						<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger" role="alert"></div>
					</div>
				
					<div>
						<input type="text" placeholder="Cognome" th:field="*{cognome}"/>
						<div class="alert alert-danger error" th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
					</div>
				</div>
			
				<div th:object="${credenziali}">
					<div th:if="${#fields.hasGlobalErrors()}">
                		<div class="alert alert-dismissible alert-danger error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div> 
                	</div>
					
					<div>
						<input type="text" placeholder="Username" th:field="*{username}" />
						<div class="alert alert-dismissible alert-danger error"th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
					</div>
			
					<div>
						<input type="password" placeholder="Password" th:field="*{password}" />
						<div class="alert alert-dismissible alert-danger error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
					</div>
				</div>
				
					<div>
						<button class="buttonForm" type="submit">REGISTER</button>
					</div>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>