<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/index.css" rel="stylesheet">
	<title>Catering Webapp</title>
</head>
<body>
	<header th:replace="fragments/base.html :: navbar"></header>
	<div>
		<h4>Ingredienti del Piatto</h4>
		
		<ul>
			<li th:each="ingrediente : ${ingredienti}">
			<a th:href="@{'/piatto' + '/' + ${piatto.id} + '/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome}">Uovo</a>
			<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/piatto' + '/' + ${piatto.id} + '/modificaIngrediente' + '/' + ${ingrediente.id}}">Modifica</a>
			<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/piatto' + '/' + ${piatto.id} + '/eliminaIngrediente' + '/' + ${ingrediente.id}}">Cancella</a></li>
		</ul>

	</div>
	<footer>
		<a th:href="@{/}">Home</a>
	</footer>
	
	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>