<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu"
	rel="stylesheet">
<title>Catering Web App</title>
</head>
<body>
	<div align="center" class="title">
		<h1>Aggiungi un Ingrediente al Piatto</h1>
	</div>

	<div class="logincontainer">
		<div class="itemLogin">
			<form th:action="@{/buffet} + '/' + ${buffet.id} + @{/piatto} + '/' + ${piatto.id} + @{/aggiungiIngrediente}" method="post">
				<div>
					<input type="text" placeholder="Nome" required th:field="${ingrediente.nome}" />
					<!-- <span th:if="${#fields.hasErrors('ingrediente.nome')}" th:errors="${ingrediente.nome}"></span> -->
				</div>

				<div>
					<input type="text" placeholder="Descrizione" required th:field="${ingrediente.descrizione}" />
					<!-- <span th:if="${#fields.hasErrors('ingrediente.descrizione')}" th:errors="${ingrediente.descrizione}"></span> -->
				</div>
				
				<div>
					<input type="text" placeholder="Origine" required th:field="${ingrediente.origine}" />
					<!-- <span th:if="${#fields.hasErrors('ingrediente.origine')}" th:errors="${ingrediente.origine}"></span> -->
				</div>

				<div>
					<button class="buttonForm" type="submit">Conferma</button>
				</div>
			</form>

			<footer>
				<a th:href="@{/}">Home</a>
			</footer>
		</div>
	</div>
	
	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>