<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='ElencoChef')"></head>
<body>
	<header th:replace="fragments/base.html :: navbar"></header>
	
	<div id="carouselExampleSlidesOnly" class="carousel slide back" data-ride="carousel">
  		<div class="carousel-inner">
    		<div class="carousel-item active">
      			<img class="d-block w-100" src="/images/bannerChef.webp" alt="First slide">
      			<div class="carousel-caption d-md-block" align=center>
      				<span class="bannerTitle">I nostri Chef</span>
      			</div>
    		</div>
    	</div>
    </div>
	
	<div class="container py-5">
		<div class="row">
			<div class="col col-lg-4" th:each="chef : ${chefs}">
				<div class="card">
					<div class="card-header border-0 rounded-0 bg-white">
  						<img src="/images/chefIcon.png" class="card-img-top" alt="...">
  					</div>
  					
  					<div class="card-body">
    					<h5 class="card-title" th:text="${chef.nome} + ' ' + ${chef.cognome}"></h5>
    					Nazionalit&agrave: <p class="card-text" th:text="${chef.nazionalita}"></p>
    					<a sec:authorize="isAuthenticated()" class="btn my-2 my-sm-0 cardButton" th:href="@{'/chef' + '/' + ${chef.id}}">Visualizza Chef</a>
    				</div>
    				
    				<div sec:authorize="hasAuthority('ADMIN')" class="card-footer bg-dark rounded">
    					<div class="container p-0 d-flex justify-content-center align-items-center" >
    						<div class="row m-0 d-flex justify-content-center align-items-center">
    							<div class="col my-1 d-flex justify-content-center align-items-center">
    								<a class="btn my-2 my-sm-0 cardButtonTeal" th:href="@{'/admin' + '/modificaChef' + '/' + ${chef.id}}">Modifica</a>
    							</div>
    							
    							<div class="col my-1 d-flex justify-content-center align-items-center">
    								<a class="btn my-2 my-sm-0 cardButtonRed" th:href="@{'/admin' + '/deleteChef' + '/' + ${chef.id}}">Elimina</a>
    							</div>
    						</div>
    					</div>
  					</div>
  					
  				</div>
			</div>
		</div>
		
		<div sec:authorize="hasAuthority('ADMIN')" class="row d-flex justify-content-center align-items-center mt-5">
			<a class="btn my-2 my-sm-0 btn-primary" th:href="@{'/admin' + '/aggiungiChef'}">Aggiungi Chef</a>
		</div>
		
	</div>

	<section th:replace="fragments/base.html :: contatti"></section>

	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>