<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="/css/index.css" rel="stylesheet">
<title>Catering Webapp</title>
</head>
<body>
	<div>
		<h4>Dettagli Buffet</h4>
		<div>
			<span th:text="${buffet.nome}">Paolo</span> 
			<span th:text="${buffet.descrizione}">Buffet a base di...</span> 
			<!-- <a th:href="@{/chef} + '/' + ${chef.id} + @{/elencoBuffet}">ELENCO PIATTI</a> -->
			<!-- <a th:href="@{/chef} + '/' + ${chef.id} + @{/aggiungiBuffet}">AGGIUNGI PIATTO</a> -->
		</div>
	</div>
	<footer>
		<a th:href="@{/default}">Home</a>
	</footer>
</body>
</html>