<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Buffet')"></head>
<body>
	<header th:replace="fragments/base.html :: navbar"></header>
	
	<div id="carouselExampleSlidesOnly" class="carousel slide back" data-ride="carousel">
  		<div class="carousel-inner">
    		<div class="carousel-item active">
      			<img class="d-block w-100" src="/images/buffetBanner.png" alt="First slide">
      			<div class="carousel-caption d-md-block">
      				<h1 class="bannerTitle" style="padding: 20px; background: rgba(85,65,54,0.6);">Buffet</h1>
      			</div>
    		</div>
    	</div>
    </div>
	
	<div class="container py-5">
		<div class="row">
			<div class="col col-lg-4" th:each="piatto : ${buffet.piatti}">
				<div class="card">
					<div class="card-header border-0 rounded-0 bg-white">
  						<img src="/images/cloche.png" class="card-img-top" alt="...">
  					</div>
  					
  					<div class="card-body">
    					<h5 class="card-title" th:text="${piatto.nome}"></h5>
    					<p class="card-text" th:text="${piatto.descrizione}"></p>
    					<a class="btn my-2 my-sm-0 cardButton" th:href="@{'/piatto' + '/' + ${piatto.id}}">Visualizza Piatto</a>
    				</div>
    					
    				<div sec:authorize="hasAuthority('ADMIN')" class="card-footer bg-dark rounded">
    					<div class="container p-0 d-flex justify-content-center align-items-center" >
    						<div class="row m-0 d-flex justify-content-center align-items-center">
    							<div class="col my-1 d-flex justify-content-center align-items-center">
    								<a class="btn my-2 my-sm-0 cardButtonTeal" th:href="@{'/admin' + '/buffet' + '/' + ${buffet.id} + '/modificaPiatto' + '/' + ${piatto.id}}">Modifica</a>
    							</div>
    							
    							<div class="col my-1 d-flex justify-content-center align-items-center">
    								<a class="btn my-2 my-sm-0 cardButtonRed" th:href="@{'/admin' + '/buffet' + '/' + ${buffet.id} + '/eliminaPiatto' + '/' + ${piatto.id}}">Elimina</a>
    							</div>
    						</div>
    					</div>
    				</div>
    				
    			</div>
    		</div>
    	</div>
    	
    	<div sec:authorize="hasAuthority('ADMIN')" class="row d-flex justify-content-center align-items-center mt-5">
			<a class="btn my-2 my-sm-0 btn-primary" th:href="@{'/admin' + '/buffet' + '/' + ${buffet.id} + '/aggiungiPiatto'}">Aggiungi Piatto</a>
		</div>
    	
    </div>				
	
	<section th:replace="fragments/base.html :: contatti"></section>
	
	<div th:replace="fragments/base.html :: script"></div>
	
</body>
</html>