<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link href="/css/index.css" rel="stylesheet">
	<title>Catering Webapp</title>
</head>
<body>
	<div>
		<h4>Buffet dello Chef</h4>
		
		<ul>
			<li th:each="buffet : ${buffetList}">
			<a th:href="@{'/chef' + '/' + ${chef.id} + '/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}">Buffet</a>
			<a th:href="@{'/chef' + '/' + ${chef.id} + '/modificaBuffet' + '/' + ${buffet.id}}">Modifica</a>
			<a th:href="@{'/chef' + '/' + ${chef.id} + '/eliminaBuffet' + '/' + ${buffet.id}}">Cancella</a></li>
		</ul>

	</div>
	<footer>
		<a th:href="@{/default}">Home</a>
	</footer>
</body>
</html>