/* NAVBAR */
.navbar-dark {
	background: black;
}

.navbar-collapse{
	justify-content: right;
}

.navbar-nav {
	margin-right: 25%;
}

.navButton {
	justify-content: flex-end;
}

.navButton2 {
	margin-left: 15px;
	color: blue;
	border-color: blue;
}

.navButton2:hover {
	border-color: blue;
	background-color: blue;
}

.navButton3 {
	margin-left: 94px;
	color: red;
	border-color: red;
}

.navButton3:hover {
	border-color: red;
	background-color: red;
}

/* CONFIGURAZIONE SCHERMO PICCOLO */
@media screen and (max-width: 992px){
	.navButton3 {
		margin-left: 0px;
	}
	
	.divider {
		display: none;
	}
	
	.footerResize .col-md-5 {
		max-width: 100%;
		flex: 100%;
	}
}

.navbar-collapse ul {
    background-color: black;
}
   
/* LOGO NAVBAR */
.navbar-brand {
    font-size: 25px;
    justify-content: left
}

.bannerTitle {
	font-size: 90px;
	color: #f9f1dc;
	padding: 20px;
	border-radius: 10px;
	background:  rgba(85,65,54,0.8);
}

.carousel-caption {
	top: 35%;
}

.top {
	top: 50%;
}

/* BANNER */
.banner {
	margin-top: 63px;
}

.bannerSubtitle {
	font-size: 60px;
	color: #f9f1dc;
	padding: 20px;
	border-radius: 10px;
	background:  rgba(85,65,54,0.8);
}

.bannerText {
	font-size: 20px;
	color: #f9f1dc;
	padding: 20px;
	border-radius: 10px;
	background:  rgba(85,65,54,0.8);
}

.bannerText a {
	color: #a48852;
}

/* GENERIC CARD */
.card {
	border-radius: 10px;
	margin: 4px;
	border-width: 4px;
	border-color: black;
	text-align: center;
}

.border-dark {
	border: 5px solid;
}

/* CARD BUTTONS */
.cardButton {
	border-color: orange;
	background-color: orange;
	color: white;
}

.cardButton:hover {
	border-color: #b97800;
	background-color: #b97800;
	color: white;
}

.cardButtonTeal {
	border-color: teal;
	background-color: teal;
	color: white;
}

.cardButtonTeal:hover {
	border-color: #005b5b;
	background-color: #005b5b;
	color: white;
}

.cardButtonRed {
	border-color: red;
	background-color: red;
	color: white;
}

.cardButtonRed:hover {
	border-color: #970000;
	background-color: #970000;
	color: white;
}

/* CARD ICON */
.icon {
	width: 100%;
}

/* CONTATTI */
.container-fluid {
	background: black;
	margin: 0px;
	color: white;
	font-size: 20px;
}

.formtitle {
	text-align: center; 
	margin: 40px 0px;
	margin-top: 150px;
}

.contattiText {
	padding: 100px 0px 60px 0px;
	text-align: center;
}

body {
	font-family: Ubuntu;
	margin: 0;
}

input {
    font-family: Ubuntu;
}

.buttonForm {
    font-family: Ubuntu;
    font-size: 16px;
    color: #fff;
    justify-content: center;
    padding: 0 20px;
    height: 62px;
    background-color: #827ffe;
    border-radius: 5px 5px 5px 5px;
    transition-duration: 0.4s;
    width: 280px;
    border: none;
}

.buttonForm:hover {
	background-color: #403866;
}

.form-container, .contatti{
	width: 100%;
	display: flex;
    justify-content: center; /* stessa cosa di text align per i contenitori */
	align-items: center;
}

.form-container .itemform {
	padding: 20px;
}

.form-container input {
    font-size: 18px;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 15px;
    background-color: rgb(230, 225, 225);
    border: none;
}

input:focus-visible {
    outline: none; /* bordo input text */
}

.bottoniOauth {
	padding-top: 75px;
}

.socialbutton {
    padding: 20px 35px;
    border-radius: 5px;
    background-color: rgb(230, 225, 225);
    font-size: 14px;
    border: none;
    text-align: center;
    width: 100%;
}

.oauthButton {
	margin-bottom: 50px;
	min-width: 232px;
}

.divider {
    height: 170px;
    width: 2px;
    opacity: .8;
    background-color: #858f96;
    margin-left: 4rem;
    margin-top: 2.5rem;
}

.dividerContatti {
	height: 170px;
    width: 2px;
    opacity: .8;
    background-color: #858f96;
    margin: 4rem;
}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.oauthButton a:visited {
	color: black;
}

.logo {
    margin: 0px 18px -4px -10px;
}

.socialbutton:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.fb {
    background-color: #3b5998;
    color: white;
}

.fb:hover {
    box-shadow: 0 -1px 0 #3b5998, 0 2px 4px #3b5998;
    color: white;
}

.fblogo {
    width: 18px;
}

.alert {
	width: 280px;
}
