<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
	<link rel="shortcut icon" href="images/favicon.png" type="">
	<!-- bootstrap core css -->
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<link href="/css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
	<header th:fragment="navbar" class="container-menu">
	<nav class="fixed-top navbar navbar-expand-lg navbar-dark">
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="navbar-brand">Catering</div>
  		
  		<div class="collapse navbar-collapse" id="navbarNavDropdown">
    		<ul class="navbar-nav marginBox">
      			<li class="nav-item">
        			<a class="nav-link" th:href="@{/}">Home</a>
      			</li>
      			
      			<li class="nav-item">
        			<a class="nav-link" th:href="@{/elencoChef}">I nostri Chef</a>
      			</li>
      			
      			<li class="nav-item">
        			<a class="nav-link" th:href="@{/elencoBuffet}">I nostri Buffet</a>
      			</li>
      			
      			<li class="nav-item">
        			<a class="nav-link" href="#foot">Contatti</a>
      			</li>
				
    		</ul>
    		
    		<div class="nav-item navButton">
      			<a sec:authorize="!isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0" th:href=@{/login}>Login</a>
				<a sec:authorize="!isAuthenticated()" class="btn btn-outline-info my-2 my-sm-0 navButton2" th:href=@{/register}>Register</a>
				<a sec:authorize="isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0 navButton3" th:href=@{/logout}>Logout</a>
      		</div>
    		
 	 	</div>
		</nav>
	</header>
	
	<div>
		<img src="/images/catering banner.png" class="image">
	</div>
	
	<section id="foot" class="container-fluid" th:fragment="contatti">
		<div class="containerGeneric">
	
			<div class="title"><h1>Contattaci</h1></div>
	
			<div class="row footerResize">
				<div class="col col-md-5">
					<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2975.393314766916!2d12.369286717443847!3d41.77673650000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1325f3b8e61e19f1%3A0x50470e27b5d04ca2!2sVia%20Leonardo%20Mellano%2C%2040%2C%2000125%20Roma%20RM!5e0!3m2!1sit!2sit!4v1654351695347!5m2!1sit!2sit" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			
				<div class="col col-sm-2">
					<div class="divider dividerContatti"></div>
				</div>
			
				<div class="col col-md-5 contattiText">
				Via Leonardo Mellano 40, 00125, Roma<br>
				<a href = "mailto:mat.cardilli@stud.uniroma3.it">mat.cardilli@stud.uniroma3.it</a><br>
				Cell.: +393491920021<br>
			
				</div>
			</div>
		
		</div>
	
	</section>
	
	<div th:fragment="script">
	<!-- jQuery -->

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

      <!-- bootstrap js -->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    </div>
    
</body>
</html>
